---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="flex-1 bg-neutral-800 text-white">
		<div class="container mx-auto py-8 px-4">
			<div class="py-4">
				<h1 class="font-bold text-3xl">{frontmatter.title}</h1>
				<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
				<p>
					<em>{frontmatter.description}</em>
				</p>
				<p>Written by: {frontmatter.author}</p>
				<div class="pt-2">
					<img
						src={frontmatter.image.url}
						width="300"
						alt={frontmatter.image.alt}
					/>
				</div>
			</div>

			<hr class="my-4" />

			<div class="py-4">
				<slot />
			</div>

			<div class="mt-4">
				<h4 class="font-medium">Tags</h4>
				<div class="flex flex-wrap">
					{
						frontmatter.tags.map((tag: any) => (
							<p class="flex items-center p-2 m-2 bg-red-500 rounded-xl font-medium">
								<a href={`/tags/${tag}`} class="block text-white">
									{tag}
								</a>
							</p>
						))
					}
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
